.loading {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 200px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loading-title{
  text-align: left;
  font-size: 20px;
}